<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-globe wow bounceIn text-primary"></i>
                        <h3>Sites Web</h3>
                        <p class="text-muted">
                            <a class="page-scroll" href="#contact">Encomende já seu o site da sua empresa ou pessoal personalizado!</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-mobile-phone wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Aplicativo para Smartphones(Mobile App)</h3>
                        <p class="text-muted">
                            <a class="page-scroll" href="#contact">Está precisando de um aplicativo para iPhone, Android ou Windowns Phone? Temos o que você precisa.</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-shopping-cart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Site de Compra na Internet(E-commerce)</h3>
                        <p class="text-muted">
                                <a class="page-scroll" href="#contact">Está precisando expandir seu negócio? Que tal encomendar um e-commerce para expandir suas vendas?</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-arrow-circle-right wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>MVP(mínimo produto viável) para Startups</h3>
                        <p class="text-muted">
                            <a class="page-scroll" href="#contact">Tem a ideia para uma Startup, mas não consegue encontar quem faça seu MVP? Entre em contato!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>